body{background-color: rgb(255, 255, 255);
}
div.container{
    margin: 0 auto;
    width: 90%;
}
header {
    width: 90%;
    height: 100px;
    background-color: rgb(255, 0, 0);
}
nav{
    width: 20%;
    height: 800px;
    background-color: rgb(34, 0, 255);
    float: left;
}
div.content{
    width: 80%;
    height: 800%;
    background-color: rgb(255, 255, 255);
    float: right;
}
footer{
    width: 90%;
    height: 50px;
    background-color: brown;
    float: left;
}